* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    height: 100%;
}

#page1 {
    height: 100%;
    width: 100%;
    background-color: #eef4ed;
    padding-top: 2vw;
}

#nav {
    width: 100%;
    height: 15%;
    /* background-color: rgb(125, 174, 168); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav1 {
    padding-left: 2vw;
    width: 23%;
    /* height: 5vw; */
    /* background-color: yellow; */
    text-align: center;
}

#nav1 h1 {
    font-size: 4vw;
    font-weight: 500;
    color: #134074;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#nav2 {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

#nav1 h1:hover {
    cursor: pointer;
    /* text-shadow: 2px 2px 2px rgb(203, 28, 28); */
    /* border-radius: 10vw; */
    /* box-shadow: 0px 10px 30px rgba(234, 7, 7, 0.5); */
    /* background-color: rgb(192, 62, 62); */
    border-radius: 3vw;
    /* border: 2px solid red; */
}

#nav2 h2 {
    font-size: 1.4vw;
    font-weight: 400;
    color: #134074;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#nav2 h2:hover {
    cursor: pointer;
    text-decoration: underline #134074;
}

#center {
    height: 84%;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
}

#center-left {
    margin-top: 1vw;
    height: 95%;
    width: 55%;
    /* background-color: turquoise; */
}

#center-left h2 {
    font-size: 4.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin: 2vw;
    color: #134074;
}

#center-left h1 {
    font-size: 6vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin: 2vw;
    color: #134074;
}

#center-left h3 {
    font-size: 2.4vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin: 2vw;
    color: #134074;
}

#center-left button {
    width: 10vw;
    height: 4vw;
    border-radius: 2vw;
    color: #134074;
    border: 2px solid #134074;
    margin: 2vw;
    background-color: #eef4ed;
}

#center-left button:hover {
    transform: translateY(-6px) scale(1.05);
    box-shadow: 0px 18px 40px rgba(79, 160, 215, 0.35);
    border: 2px solid whitesmoke;
    background: linear-gradient(135deg, #134074, #3799da);
    color: black;
}

#center-right {
    height: 90%;
    width: 32%;
}

#center-right img {
    height: 112%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#page2 {
    width: 100%;
    height: 100%;
    background-color: #eef4ed;
    padding-top: 2vw;
}

#upper {
    width: 40%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef4ed;
    border-bottom: 2px solid #134074;
    margin-left: 2vw;
}

#upper h1 {
    color: #134074;
    font-size: 6vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    text-shadow: 0 0 10px #5c49e8, 0 0 20px #5a3eca, 0 0 30px #543ab8;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#upper h1:hover {
    color: #134074;
    transform: scale(1.05);
    text-shadow: 0 6px 15px rgba(255, 0, 0, 0.4);
    cursor: pointer;
}

#center2 {
    width: 100%;
    height: 80%;
    /* background-color: violet; */
    margin-top: 1vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#middle {
    width: 40%;
    height: 80%;
    /* background-color: yellow; */
    /* margin: 8vw; */
    /* margin-left: 5vw; */
}

#middle h2 {
    font-size: 2.5vw;
    font-weight: 400;
    color: #134074;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 2vw;
    padding-top: 4vw;
}

#middle p {
    font-size: 1.5vw;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 2vw;
}

#image {
    width: 40%;
    height: 85%;
    /* background-color: crimson; */
}

#image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#image img:hover {
    box-shadow: 5px 5px 20px #134074;
    border-radius: 5vw;
}

#page3 {
    width: 100%;
    height: 100%;
    background-color: #eef4ed;
}

#upper2 {
    width: 40%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef4ed;
    border-bottom: 2px solid #134074;
    margin-left: 2vw;
}

#upper2 h1 {
    color: #134074;
    font-size: 6vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    text-shadow: 0 0 10px #5c49e8, 0 0 20px #5a3eca, 0 0 30px #543ab8;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#upper2 h1:hover {
    color: #134074;
    transform: scale(1.05);
    text-shadow: 0 6px 15px rgba(255, 0, 0, 0.4);
    cursor: pointer;
}

#center3 {
    width: 100%;
    height: 80%;
    /* background-color: violet; */
    margin-top: 1vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#page3-left {
    width: 40%;
    height: 80%;
    /* background-color: yellow; */
    margin: 8vw;
    margin-left: 5vw;
}

#page3-left h2 {
    font-size: 2.5vw;
    font-weight: 400;
    color: #134074;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 2vw;
    padding-top: 4vw;
}

#page3-left p {
    font-size: 1.5vw;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 2vw;
}

#page3-right {
    width: 40%;
    height: 85%;
    /* background-color: crimson; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#page3-first {
    /* background-color: springgreen; */
    height: 11vw;
    width: 11vw;
    margin: 2vw;
}

#page3-first h1 {
    color: #134074;
    font-weight: 400;
    margin-top: 1.5vw;
    margin-left: 1.5vw;
}

#page3-first h2 {
    font-weight: 100;
    margin-left: 0.7vw;
    font-size: 4vw;
}

#page3-first:hover {
    border-radius: 3vw;
    box-shadow: 5px 5px 8px #134074;
}

#page3-second {
    /* background-color: springgreen; */
    height: 11vw;
    width: 11vw;
    margin: 2vw;
}

#page3-second h1 {
    color: #134074;
    font-weight: 400;
    margin-top: 1.5vw;
    margin-left: 1.5vw;
}

#page3-second h2 {
    font-weight: 100;
    margin-left: 0.7vw;
    font-size: 4vw;
}

#page3-second:hover {
    border-radius: 3vw;
    box-shadow: 5px 5px 8px #134074;
}

#page3-third {
    /* background-color: springgreen; */
    height: 11vw;
    width: 11vw;
    margin: 2vw;
}

#page3-third h1 {
    color: #134074;
    font-weight: 400;
    margin-top: 1.5vw;
    margin-left: 1.5vw;
}

#page3-third h2 {
    font-weight: 100;
    margin-left: 0.7vw;
    font-size: 4vw;
}

#page3-third:hover {
    border-radius: 3vw;
    box-shadow: 5px 5px 8px #134074;
}

#page3-fourth {
    /* background-color: springgreen; */
    height: 11vw;
    width: 11vw;
    margin: 2vw;
}

#page3-fourth h1 {
    color: #134074;
    font-weight: 400;
    margin-top: 1.5vw;
    margin-left: 1.5vw;
}

#page3-fourth h2 {
    font-weight: 100;
    margin-left: 0.7vw;
    font-size: 4vw;
}

#page3-fourth:hover {
    border-radius: 3vw;
    box-shadow: 5px 5px 8px #134074;
}

#page4 {
    height: 100%;
    width: 100%;
    background-color: #eef4ed;
}

#upper3 {
    width: 53%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef4ed;
    border-bottom: 2px solid #134074;
    margin-left: 2vw;
}

#upper3 h1 {
    color: #134074;
    font-size: 6vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    text-shadow: 0 0 10px #5c49e8, 0 0 20px #5a3eca, 0 0 30px #543ab8;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#upper3 h1:hover {
    color: #134074;
    transform: scale(1.05);
    text-shadow: 0 6px 15px rgba(255, 0, 0, 0.4);
    cursor: pointer;
}

#center4 {
    height: 77%;
    width: 100%;
    /* background-color: #a81313; */
    margin-top: 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#box1 {
    height: 15vw;
    width: 25vw;
    /* background-color: white; */
}

#box1 img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#box1 img:hover {
    box-shadow: 2px 2px 2px 2px #134074;
    border-radius: 2vw;
    cursor: pointer;
    /* box-shadow: 5px 5px 8px red; */
}

#box2 {
    height: 15vw;
    width: 25vw;
    /* background-color: white; */
}

#box2 img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#box2 img:hover {
    box-shadow: 2px 2px 2px 2px #134074;
    border-radius: 2vw;
    cursor: pointer;
}

#box3 {
    height: 15vw;
    width: 25vw;
    /* background-color: white; */
}

#box3 img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#box3 img:hover {
    box-shadow: 2px 2px 2px 2px #134074;
    border-radius: 2vw;
    cursor: pointer;
}

#box4 {
    height: 15vw;
    width: 25vw;
    /* background-color: white; */
    border-radius: 2vw;
}

#box4 img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#box4 img:hover {
    box-shadow: 2px 2px 2px 2px #134074;
    border-radius: 2vw;
    cursor: pointer;
}

#box5 {
    height: 15vw;
    width: 25vw;
    /* background-color: white; */
    border-radius: 2vw;
}

#box5 img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#box5 img:hover {
    box-shadow: 2px 2px 2px 2px #134074;
    border-radius: 2vw;
    cursor: pointer;
}

#box6 {
    height: 15vw;
    width: 25vw;
    /* background-color: white; */
    border-radius: 2vw;
}

#box6 img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#box6 img:hover {
    box-shadow: 2px 2px 2px 2px #134074;
    border-radius: 2vw;
    cursor: pointer;
}

#page5 {
    height: 100%;
    width: 100%;
    background-color: #eef4ed;
}

#upper4 {
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef4ed;
    border-bottom: 2px solid #134074;
    margin-left: 2vw;
}

#upper4 h1 {
    color: #134074;
    font-size: 5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    text-shadow: 0 0 10px #5c49e8, 0 0 20px #5a3eca, 0 0 30px #543ab8;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#upper4 h1:hover {
    color: #134074;
    transform: scale(1.05);
    text-shadow: 0 6px 15px rgba(255, 0, 0, 0.4);
    cursor: pointer;
}

.timeline-section {
    background: #eef4ed;
    padding: 60px 5%;
}

.timeline {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 4px;
    height: 100%;
    background: #134074;
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px 40px;
}

.timeline-item.left {
    left: 0;
    text-align: right;
}

.timeline-item.right {
    left: 50%;
}

.content {
    background: transparent;
}

.content h2 {
    color: #134074;
    font-size: 2.6vw;
    margin: 8px 0;
}

.content p {
    font-size: 2vw;
}

.step {
    font-size: 1vw;
    letter-spacing: 2px;
    color: #134074;
    font-weight: 600;
}

.timeline-item .icon {
    color: #134074;
    font-size: 1.6vw;
}

#page6 {
    height: 70vw;
    width: 100%;
    background-color: #eef4ed;
    padding-top: 45vw;
}

#upper5 {
    width: 45%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef4ed;
    border-bottom: 2px solid #134074;
    margin-left: 2vw;
}

#upper5 h1 {
    color: #134074;
    font-size: 5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    text-shadow: 0 0 10px #5c49e8, 0 0 20px #5a3eca, 0 0 30px #543ab8;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#upper5 h1:hover {
    color: #134074;
    transform: scale(1.05);
    text-shadow: 0 6px 15px rgba(255, 0, 0, 0.4);
    cursor: pointer;
}

#page6 h2 {
    color: #134074;
    font-size: 2vw;
    text-align: center;
    margin-top: 40px;
    margin-right: 50vw;
}

#page6 button {
    padding: 12px 30px;
    background: linear-gradient(135deg, rgb(222, 25, 147), rgb(84, 84, 175));
    color: black;
    font-size: 1.2vw;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px #134074;
    margin-left: 280px;
    margin-top: 20px;
    transition: all 0.3s ease;
}

#page6 button:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px #134074;
}

#baseline-last {
    height: 8vh;
    width: 100%;
    background-color: #134074;
    margin-top: 40px;
}

#baseline-last h1 {
    color: azure;
    font-size: 2vw;
    text-align: center;
}

#baseline-last h1:hover {
    color: beige;
    text-decoration: none;
}
